html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.bar {

    display: flex;
    justify-content: space-between;
    margin-bottom: 15px
}

.form-width{
    width: 550px;
}