@{
    ViewData["Title"] = "Change Password";
}

<form class="form-inline form-width" asp-action="ChangePassword" asp-controller="Users" method="post">
    <div class="form-group mb-2">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary mb-2">Change Password</button>
</form>

