@model Author
@{
    ViewData["Title"] = "Edit Author";
}


<form class="form-width" asp-action="Edit" asp-controller="Authors" method="post">
    <input type="hidden" asp-for="AuthorId" />
    <div class="form-group">
        <label asp-for="Name">Author Name</label>
        <input class="form-control" asp-for="Name" type="text" name="Name" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Edit an Author</button>
    <br />
    <br />
    <a class="btn btn-danger" asp-controller="Authors" asp-action="Index">Cancel</a>
</form>